[defaults]
#callbacks_enabled   = timer, profile_tasks, profile_roles
interpreter_python  = auto_silent
inventory           = ./inventory.yaml
pipelining          = True
vault_password_file = .vault

[diff]
always = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s