#jinja2: keep_trailing_newline: True
[Trigger]
Type = Package
Operation = Upgrade
Target = thermald

[Action]
Description = Restart thermald.service
When = PostTransaction
Exec = /usr/bin/sh -c "/usr/bin/systemctl daemon-reload && /usr/bin/systemctl restart thermald.service"
