alias ls='ls -N --group-directories-first --color=auto'
alias ll='ls -lh'
alias mv='mv -i'
alias rm='rm -i'
alias vi='vim'
alias vim='vim'
alias yay='pikaur -Syu'

export PATH=$PATH:$HOME/Documents/Scripts
export GOPATH=$HOME/.go
