#jinja2: keep_trailing_newline: True
{% if mkinitcpio_luks %}rd.luks.name={{ ansible_facts.devices[luks_device].partitions[luks_partition].uuid }}=root rd.luks.options=discard root=/dev/mapper/root {% endif %}{{ mkinitcpio_kernel_cmdline }}
